
/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

/* Typography */

h1 {
	text-transform: uppercase;
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}
/* Universal tags */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	-webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.nav__logo span {
	position: relative;  /*원래 가지고 있던 자리 기준으로 이동*/
	font-family: 'Dancing Script', cursive;
	color: white;
	top : -5px;  
	left : 5px;
}

ul {
	list-style: none;
	padding-left: 0;
}

/* Navbar */
#navbar {
	display: flex;  /*수평축 메뉴바*/
	justify-content: space-between;
	align-items: center;
	color: var(--color-white);
	margin: 0 30px 40px 30px;
	font-size: 1.3em;
}

.nav__logo {
	padding : 1.5%;
	font-size : var(--font-medium);
	font-weight: var(--weight-semi-bold);
}

.nav__logo>img.rotating_logo {
	width:29px;
	height: 29px;
	animation: rotate_image 10s linear infinite;
	transform-origin: 50% 50%;
	}
	
@keyframes rotate_image{
	100% {
	transform: rotate(360deg);
	}
}

.navbar__menu {
	display: flex;
}

.navbar__menu__item {
	padding: 8px 24px;
	/* margin : 0 4px; */
	white-space : nowrap;   /*줄바꿈 일어나지 않게*/
	cursor : pointer;
	border-radius: 5px;
	transition: all 0.5s;
}

.navbar__menu__item:hover {
	/* box-shadow: 1.3px 1.3px 1.3px 1.3px #8dbbf4; */
	color: rgb(30, 45, 244);
	transform : translate(-3%, -3%);
	/* background : linear-gradient(90deg, #95cdf0, #C5E5EE);
	그라데이션은 transition 지원 안됨 */
}

.navbar__toggle-btn {
	position: absolute;
	top : 24px;
	right : 32px;
	font-size: 24px;
	border : none;
	background: none;
	display: none;
	cursor: pointer;
	transition: all 300ms ease;
}

.navbar__toggle-btn:hover {
	transform: scale(1.1);
}

/* Home */
#background {
	background-repeat: no-repeat;
	background: url("imgs/home-background.png") center/cover no-repeat;
	/* center/cover : 가운데에 두면서 반응형으로 */
	animation: fadein 3s ease 3s;
  	-webkit-animation: fadein 3s;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#home {
	padding : 30px;
	text-align : center;
}


.home__line {
	margin: 0 auto;
	padding : 0px 40px 0px 0px ;
}

.home__title, .home__description {
	color : var(--color-white);
	padding : 15px;
}

.home__contact {
	font-size: 1.5vw;
	cursor: pointer;
  margin: 30px;
  padding: 15px;
	white-space : nowrap;   /*줄바꿈 일어나지 않게*/
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
	border : none;
  color: gray;
	font-weight: var(--weight-semi-bold);
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
	background-image: linear-gradient(to right, #D7D7D7 0%, white 51%, #D7D7D7 100%);
}
.home__contact:hover { 
	background-position: right center;
}
.home__contact span {
	justify-content: center;
	align-items: center;
	display: flex;
}

/* Section */
.section {
	padding: 20px;
	text-align: center;
	margin : auto;
	opacity: 0;
	transition: 0.3s;
}

.fade-in {
	opacity: 1;
}

.section__contanier {
	max-width: 1200px;
	margin : 0 auto;
}
/* About */
#about {
	animation: fadein 5s ease 3s;
	-webkit-animation: fadein 3s;
}

.about__majors {
	display: flex;
	justify-content: space-around;
	margin : 30px 200px 30px 200px;
	flex-wrap : wrap;
	padding : 0px 60px 0px 60px;
}
.major {
	margin: auto;
	padding : 40px;
}

.major__description {
	height: 54px;
	text-align: center;
	align-items: center;
}

.major__icon{
	width: 170px;
	height: 170px;
	line-height: 170px; /*아이콘을 중간 높이에 오게끔 조정*/
	font-size: 70px;
	color: var(--color-blue);
	margin : auto;
	border: 1px solid var(--color-blue);
	border-radius: 50%;
	margin-bottom : 16px;
}

.major__icon i {
	transition : all 300ms ease;
}

.major__icon:hover i{
	transform: rotate(-30deg) scale(1.1);
}

.job {
	display: flex; 
	align-items: center;
	margin-left : 20%;
	padding : 25px;	
}

.job__description {
	margin: 0 16px;
	text-align: left;
}

.job__college {
	font-size: var(--font-small);
	font-weight: var(--weight-semi-bold);
}

.job__name {
	font-size: var(--font-micro);
}

.job img {
	width : 60px;
	height : 50px;
}

/*Skill*/

#skills.section {
	position: relative;
}

#skills.section::before {
	content: "";
	position: absolute;
	background: url(imgs/skills/background-first.png) center/cover no-repeat;
	top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
	/* background-size: contain; */
	opacity: 0.4;
	z-index: -1;  /*맨 뒤로*/
}

.skillset__title{
	font-weight : var(--weight-semi-bold);
	font-size: 1.5em;
  text-shadow: 0 0 5px #78cbec, 0 0 10px #86d6d6, 0 0 3px #86d6d6, 0 0 0 #ff0080, 0 0 0 #ff0080, 0 0 0 #27c2c2, 0 0 75px #27c2c2;
	margin-bottom: 30px;
}

.skillset {
	display: flex;  /*1줄에 하나*/
	justify-content: space-around;
	align-items: first baseline;  /*상단 라인 맞추기*/
	margin: 10px 40px;
	padding : 20px 160px 20px 160px;
}

.skillset__left {
	flex-basis: 70%;  /*기본크기 설정*/
	padding : 20px 10%;
	margin : 20px;
}

.skill {
	margin-bottom: 32px;
}

.skill__description {
	display: flex;
	justify-content: space-between;
	font-weight:var(--weight-semi-bold);
}

.skill__bar {
	width:100%;
	height: 5px;
	background-color: rgb(205, 245, 239);
}

.skill__value { 
	height: 5px;
	background-color: rgb(6, 236, 201);
}

.skillset__right {
	flex-basis: 70%;
	padding : 20px 10%;
	margin : 20px;
}

.tools, .etc {
	padding : 20px;
}

.tools__list, .etc__list {
	font-weight:var(--weight-semi-bold);
}


/*project*/

.fa-compact-disc {
	position: relative;
	right: 110px;
	top: -45px; 
}

.work__projects {
	display: flex;
	margin : 20px 135px 40px 135px;
	/* margin: 10px 40px 40px 40px; */
	text-align: center;
	justify-content: space-around;
	flex-wrap : wrap;  /*반응형으로 좁아지면 한개씩 나옴*/
}

.work__categories {
	display: flex;
	flex-direction: column;  /*flex 1열 정렬 */
	justify-content: space-around;
	align-items: center;  /*객체 가운데 정렬*/
	margin : 0px;
}


.work__categories button{
	flex :none;
}

.category__btn {
	padding: 10px 80px;
	border: 2px solid #000;
	white-space : nowrap;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

.btn-set {
	white-space : nowrap;   /*줄바꿈 일어나지 않게*/
	font-size: 1em; /*em:부모태그 기준으로 비율설정*/
	width: 20%;
	height: 13%;
	background: #000;
	color: #fff;
	line-height: 40px;
	border: none;
	margin: 30px;
}

.work__categories span {  /*span태그 text 가운데정렬*/
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 1.4em;
}

.btn-set:hover {
	background: transparent;
	color: #000;
	 box-shadow:
	 -7px -7px 20px 0px #fff9,
	 -4px -4px 5px 0px #fff9,
	 7px 7px 20px 0px #0002,
	 4px 4px 5px 0px #0001;
}

/* hovering 시 인접요소 변화는 '~'(물결) 로 */
.btn-set ~ .project__description h3 {
	opacity: 0;
	transition:400ms ease all;
}

.btn-set:hover ~ .project__description h3 {	
	opacity: 1;
}

.btn-set:before,
.btn-set:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #000000;
	transition:400ms ease all;
}
.btn-set:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.btn-set:hover:before,
.btn-set:hover:after{
	width:100%;
	transition:300ms ease all;
}

.work__categories .project__img {
	width: 240px;
	height: 270px;
	object-fit: cover;
	border-radius: 20px;
	margin-bottom : 20px;
}

.project__description h3 {
	display: flex;
	/* visibility: hidden; */
	width: 100%;
	height: 100%;
}

/*Testimonial*/
#testimonials {
	position: relative;
}

#testimonials::before {
	content: "";
	position: absolute;
	background: url(imgs/testimonials/background-second.png) center/cover no-repeat;
	top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
	opacity: 0.4;
	z-index: -1;  /*맨 뒤로*/
}

.testimonials {
	margin : 30px 60px 0 60px; 
	padding : 20px 60px 20px 60px;
}

.testimonial {
	display: flex;
	justify-content: center;
	align-items: center;
	margin : 50px 80px 50px 80px;
	padding : 20px;
}

.testimonial__avatar {
	width : 150px;
	height: 150px;
	border-radius: 50%;
	border:3px outset rgba(44, 134, 204, 0.67);
}

.testimonial__avatar:nth-child(odd) {
	margin-left: 40px;
}

.testimonial__avatar:nth-child(even)  {
	margin-right: 40px;
}
/* 홀수일때 오른쪽에 40px 마진, 짝수일때 왼쪽에 마진 */

.testimonial__speech-bubble{
	padding : 18px;
	width: 60%;
}

.testimonial__speech-bubble p{
	font-weight : var(--weight-semi-bold);
	padding : 5px;
	font-size: 1.2vw;
	font-style: italic;
}

.testimonial__speech-bubble .name span{
	font-size: 1.0vw;
	font-weight:lighter;
	font-style: italic;
}

.testimonial__speech-bubble img {
	background-color: var(--color-white);
	border-radius: 50%;
}

/*Contact*/
#contact {
	background-color: rgb(140, 140, 144);
	color: white;
}

.contact__title,
.contact__rights,
.contact__email {
	color : white;
}

.contact__title {
	margin : 32px 0 32px 0 ;
}

.contact__links {
	margin: 30px 0;
	font-size: var(--font-large);
}

.contact__links a {
	padding: 10px;
	margin : 10px;
}

.contact__links i {
	transition: all 0.2s;
}

.contact__links i:hover {
	transform: scale(1.1);
	color : var(--color-blue);
}
/* Scroll */
.arrow-up {
	position: fixed;
	bottom : 50px;
	right : 50px;
	font-size: 40px;
	background: none;
	border : none;
	cursor: pointer;
	display: none;
	opacity: 0.5;
}
.arrow-up.visible {
	display: block;
	transition: all 0.3s ease;
}

.arrow-up.arrow-up.visible:hover {
	transform: scale(1.1);
	opacity: 0.9;
}

/* For below 768px screen width */
@media screen and (max-width:960px) {
	:root {
		/* Font size */
		--font-large: 30px;
		--font-medium: 18px;
		--font-regular: 16px;
		--font-small: 14px;
		--font-micro: 12px;
	}

	.navbar__toggle-btn {
		display: block; 
	}

	#navbar {
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 60px;
	}

	.navbar__menu {
		flex-direction: column;
		text-align: center;
		display: none;
		margin: 0 auto;
		margin-top : 25px;
	
	}


	.navbar__menu.open {
		display: block; 
	}

	/* 모바일 패딩은 보통 16px */
	.section {
		padding : 16px;
	}

	#about .name {
		margin-bottom : 20px;
	}
	/* .about__majors {
		margin : 0 auto;
	}
	 */
	 .major{
		margin-top: 20px;
		margin-bottom : 20px;
	 }

	.job {
		margin-left: 3%;
	}

	.about__jobs .job__college {
		margin-bottom : 5px;
	}

	.skillset{
		flex-direction: column;
		align-items: center;
		padding : 0;
		margin : 0;
	}

	.fa-compact-disc {
		position: relative;
		right: 85px;
		top: -40px; 
	}

	.category__btn.btn-set{
		margin-top: 0px;
	}

	.project__img{
		margin-bottom: 0px;
	}

	.testimonials {
		margin: 10px 10px 10px 10px;
		padding : 10px;
	}

	.testimonial {
		flex-direction: column;  /*사진은 위, 내용은 아래로*/
		margin-right: 0;
		margin-left: 0;
	}

	.testimonial__avatar {
		width : 120px;
		height : 120px; 
	}

	.testimonial__avatar:nth-child(even), 
	.testimonial__avatar:nth-child(odd) {
		margin : 0 0 8px 0;
	}

	.testimonial__speech-bubble {
		order : 1;    /*동위 태그 중 첫번째로 나오게*/
		padding : 0;
		width: 100%; /*꽉차게*/
	}	
	.major {
		padding : 10px;
	}

	.arrow-up {
		line-height : 50px;
		bottom : 20px;
		right : 20px;
	}

	.nav__logo {
		padding-top : 20px;
	}
}